<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929400296914-9iv8c88q7nhbciglc5jj4t0g0q9govvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929400296914-9iv8c88q7nhbciglc5jj4t0g0q9govvi</string>
	<key>API_KEY</key>
	<string>AIzaSyCibKdQkFqUux4eSU1Y8m6kw9OfN3eV8hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>929400296914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-app-c9-91978</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-c9-91978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929400296914:ios:20d9fbd0641a49f25aa40b</string>
</dict>
</plist>